# {{ ansible_managed }}
[Interface]
Address = {{ wireguard.server.ip }}/32
ListenPort = {{ wireguard.server.port }}

PostUp = wg set %i private-key /etc/wireguard/privatekey

PostUp = ping -c 1 {{ wireguard.router.ip }}

[Peer]
PublicKey = {{ hostvars['router']['router_pk']['content'] | b64decode }}
Endpoint = {{ wireguard.router.private_ip }}:{{ wireguard.router.port }}
AllowedIPs = {{ wireguard.router.subnet }}, {{ wireguard.vulnbox.subnet }}, {{ wireguard.player.subnet }}, {{ wireguard.server.subnet }}

PersistentKeepalive = 5
