all:
  hosts:
    router:
      ansible_host: 54.152.43.3 # router public ip (don't remove the comment for run.sh)
      ansible_user: ubuntu # user for ssh
      ansible_ssh_private_key_file: ./keys/router.pem # ssh key path
    server:
      ansible_host: 192.168.1.180 # server private ip (don't remove the comment for run.sh)
      ansible_user: ubuntu # user for ssh
      ansible_ssh_private_key_file: ./keys/server.pem # ssh key path
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ./keys/router.pem -W %h:%p ubuntu@54.152.43.3"' # ssh proxy command
  children:
    vulnbox:
      hosts:
        vulnbox1:
          ansible_host: 192.168.2.180 # vulnbox1 (don't remove the comment for run.sh)
          ansible_user: ubuntu # user for ssh
          ansible_ssh_private_key_file: ./keys/vulnbox1.pem # ssh key path
          ansible_ssh_common_args: '-o ProxyCommand="ssh -i ./keys/router.pem -W %h:%p ubuntu@54.152.43.3"' # ssh proxy command
        vulnbox2:
          ansible_host: 192.168.2.159 # vulnbox2 (don't remove the comment for run.sh)
          ansible_user: ubuntu # user for ssh
          ansible_ssh_private_key_file: ./keys/vulnbox2.pem # ssh key path
          ansible_ssh_common_args: '-o ProxyCommand="ssh -i ./keys/router.pem -W %h:%p ubuntu@54.152.43.3"' # ssh proxy command
  vars:
    host_key_checking: false # disable host key checking
    wireguard:
      network: 10.0.0.0/8 # wireguard network
      router:
        port: 51820 # wireguard port the router listens on
        ip: "10.0.0.1" # ip of the router in the vpn
        subnet: "10.0.0.1/32" # subnet the router belongs to in the vpn
        out_interface: eth0 # interface the router uses to connect to the internet
        start: # a cronjob will be created to start the vpn at this time
          month: 7
          day: 17
          hour: 18
          minute: 0
        open: # a cronjob will be created to open the vpn and allow attacks between teams at this time
          month: 7
          day: 17
          hour: 19
          minute: 0
      vulnbox:
        port: 51820 # wireguard port the vulnbox listens on
        ip_format: "10.60.%d.1" # ip format of the vulnbox in the vpn. Each team will have a different ip, the %d is the team number
        subnet: "10.60.0.0/16" # subnet the vulnbox belongs to in the vpn
        team_mask_offset: 8 # the team's vulnbox will belong in the subnet subnet/mask + team_mask_offset
      player:
        ip_format: "10.80.%d.%d" # ip format of the player in the vpn. Each team will have a different ip, the first %d is the team number, the second %d is the player number
        subnet: "10.80.0.0/16" # subnet the player belongs to in the vpn
        team_mask_offset: 8 # the team's player will belong in the subnet subnet/mask + team_mask_offset
      server:
        port: 51820 # wireguard port the server listens on
        ip: "10.10.0.1" # ip of the server in the vpn
        subnet: "10.10.0.0/16" # subnet the server belongs to in the vpn
    teams: # teams configuration. Each entry is a team and indicates the name of the team and the number of players
      - name: catania
        players: 1
      - name: palermo
        players: 2
